---
---

$base-font-family: "Open Sans", Helvetica, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-font-weight: 200 !default;

$brand-color: #e6550d !default;
$background-color: white !default;



@import "minima";



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Site header
 */
.site-header {
  border-top: 0px;
  border-bottom: 0px;  // 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}


/**
 * Bibliography
 */

.bibliography {
  list-style: square;
}

.bib {
  margin-bottom: 0.5rem;
}

