---
---

$base-font-family: "Inter Light", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 200 !default;

$brand-color: rgb(0, 119, 170) !default; // #07a
$background-color: white !default;

$content-width: 650px !default;

@import "minima";

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
    // background-color: rgba(51, 181, 229, 0.4);
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 0px;
  border-bottom: 0px; // 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  a,
  &:hover {
    text-decoration: none;
  }
}

/**
 * Bibliography
 */

.bibliography {
  list-style: square;
}

.bib {
  margin-bottom: 0.5rem;
}
