---
---

{% if entry.type != "media" %}
  <div class="bib" id="{{ entry.key }}">
    {% capture venue %}{% if entry.booktitle %}{{ entry.booktitle }}{% else if entry.journal %}{{ entry.journal }}{% endif %}{% endcapture %}
    {% capture pdf_link %}{{ site.scholar.repository }}/{{ entry.key }}.pdf{% endcapture %}
    {% for file in site.static_files %}{% if file.path == pdf_link %}
      <a href="{{ site.baseurl }}{{ pdf_link }}">{{ entry.title }}</a>,
      {% break %}
    {% endif %}{% endfor %}
    {% if entry.title contains "(submitted)" or entry.title contains "(accepted)" %}
      {{ entry.title }}
    {% endif %}
    <br>
    {{ entry.author }},
    <br>
    In <i>{{ venue }}</i>, {{ entry.year }}
    <br>

    {% capture poster_link %}{{ site.scholar.repository }}{{ entry.key }}_poster.pdf{% endcapture %}
    {% capture slides_link %}{{ site.scholar.repository }}{{ entry.key }}_slides.pdf{% endcapture %}
    {% capture supp_link %}{{ site.scholar.repository }}{{ entry.key }}_supp.pdf{% endcapture %}

    {% for file in site.static_files %}{% if file.path == poster_link %}
      <a href="{{ site.baseurl }}{{ poster_link }}">[poster]</a>
      {% break %}
    {% endif %}{% endfor %}
    {% for file in site.static_files %}{% if file.path == slides_link %}
      <a href="{{ site.baseurl }}{{ slides_link }}">[slides]</a>
      {% break %}
    {% endif %}{% endfor %}
    {% for file in site.static_files %}{% if file.path == supp_link %}
      <a href="{{ site.baseurl }}{{ supp_link }}">[supp.]</a>
      {% break %}
    {% endif %}{% endfor %}
    {% if entry.techreport %}
      <a href="{{ entry.techreport }}">[tech.report]</a>
    {% endif %}
    {% if entry.video %}
      <a href="{{ entry.video }}">[video]</a>
    {% endif %}
    {% if entry.details %}
      <a href="{{ entry.details }}">[details]</a>
    {% endif %}
  </div>
{% else %}
  <div id="{{ entry.key }}">
    <a href="{{ entry.url }}">{{ entry.title }},</a>
    <span>{{ entry.howpublished }},</span>
    <span>{{ entry.year }}</span>
  </div>
{% endif %}
